@charset "UTF-8";

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto;
    width: 1600px;
    overflow-x: hidden;
  }

  /* header styles start */

  header {
    position: absolute;
    width: 1600px;
    margin: 0 auto;
    height: 95px;
  }

  .header_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .header_list-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }

  .header_list-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .header_item {
    margin-right: 85px;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .header_item:last-child {
    margin-right: 0;
  }

  .header_link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: #FFFFFF;
    padding-bottom: 1px;
  }

  .active {
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 20px;
  }

  .header_logo {
    width: 44px;
    height: 45px;
    margin: 0 100px;
  }

  .header-logo_link {
    width: 44px;
    height: 45px;
  }

  .header_link:hover, .header_link:focus, .header_link:active {
    opacity: 0.5;
    color: #00AFDB;
    text-decoration: underline;
  }

  /* header styles end */

  /* your-life styles start */

  .your-life {
    height: 744px;
    background: url(./assets/img/bg-image.png) no-repeat center;
    background-size: cover;
  }

  .wrapper {
    margin: 0 269px;
    /* from now width will be 1062px */
  }

  .your-life-title {
    padding-top: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    color: #FFFFFF;
  }

  .your-life-subtitle {
    height: 50px;
    margin: 20px 279px 30px 279px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .button_get-started {
    padding: 15px 47px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
    margin: 0 439px;
    cursor: pointer;
  }

  .button_get-started:hover, .button_get-started:focus, .button_get-started:active {
    opacity: 1.5;
    background: #037692;
    color: #93b5e0;
  }

  .social-icons {
    width: 170px;
    height: 20px;
    margin: 183px 446px 90px 446px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    list-style-type: none;
    cursor: pointer;
  }

  /* your-life styles end */

  /* rappresent styles start */

  .rappresent_wrapper {
    margin-top: 120px;
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
  }

  .rappresent-text {
    margin-top: 175px;
    width: 407px;
  }

  .rappresent-title {
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
  }

  .rappresent-subtitle {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
  }

  .button_rappresent-get-started {
    padding: 15px 47px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
    cursor: pointer;
  }

  .button_rappresent-get-started:hover, .button_rappresent-get-started:focus, .button_rappresent-get-started:active {
    opacity: 1.5;
    background: #037692;
    color: #93b5e0;
  }

  .rappresent-image {
    width: 407px;
    height: 582px;
    background: url(/assets/img/program.png) no-repeat center;
    background-size: cover;
  }

  /* rappresent styles end */
  
  /* our-community styles start */

  

  /* our-community styles start */